$light: #fdf6f0;
$dark: #3e1605;

.adtitle {
    color: red;
    font-weight: bold;
}
.drop {
    color: red;
}
.us {
    width: 100%;
    background-color: #fdf6f0;
    padding: 5%;
    margin-top: 6%;
    text-align: center;
}
.us p:hover {
    text-decoration: underline;
}